@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  background: #0d001a;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d001a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4f1446;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e5181;
}